@font-face {
  font-family: "neue-thin";
  src: url("../fonts/NHaasGroteskDSPro-35XLt.woff2") format("woff2"),
    url("../fonts/NHaasGroteskDSPro-35XLt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "neue-light";
  src: url("../fonts/NHaasGroteskDSPro-45Lt.woff2") format("woff2"),
    url("../fonts/NHaasGroteskDSPro-45Lt.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "neue-regular";
  src: url("../fonts/NHaasGroteskDSPro-55Rg.woff2") format("woff2"),
    url("../fonts/NHaasGroteskDSPro-55Rg.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "neue-medium";
  src: url("../fonts/NHaasGroteskDSPro-65Md.woff2") format("woff2"),
    url("../fonts/NHaasGroteskDSPro-65Md.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
